ace_tools==0.0
aiohttp==3.8.3
aiosignal==1.3.1
aniso8601==7.0.0
anyio==4.3.0
ariadne==0.23.0
asgiref==3.8.1
async-timeout==4.0.2
attrs==22.2.0
bcrypt==4.0.0
beautifulsoup4==4.11.1
blinker==1.7.0
bs4==0.0.1
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
colorgram.py==1.2.0
comtypes==1.1.11
contourpy==1.2.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==38.0.1
cycler==0.12.1
decorator==5.1.1
distro==1.7.0
Django==5.0.6
django-rest-framework-docs==0.1.7
djangorestframework==3.15.1
docutils==0.19
drf-yasg==1.21.7
exceptiongroup==1.2.1
fabric==2.7.1
fexpect==0.2.post17
Flask==3.0.3
Flask-GraphQL==2.0.0
Flask-SQLAlchemy==2.5.0
fonttools==4.52.4
frozenlist==1.3.3
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==3.2.3
graphql-relay==2.0.1
graphql-server==3.0.0b7
graphql-server-core==1.1.1
gunicorn==21.2.0
idna==3.7
inflection==0.5.1
invoke==1.7.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.4
jsonpickle==3.0.4
Kivy==2.1.0
Kivy-Garden==0.1.5
kiwisolver==1.4.5
lxml==4.9.2
Markdown==3.6
MarkupSafe==2.1.5
martor==1.6.0
matplotlib==3.9.0
multidict==6.0.4
numpy==1.26.4
opencv-python==4.7.0.72
p==1.4.0
packaging==24.0
pandas==2.2.2
paramiko==2.11.0
pathlib2==2.3.7.post1
pexpect==4.8.0
pillow==10.3.0
prettytable==3.3.0
promise==2.3
psutil==5.9.1
psycopg2-binary==2.9.9
ptyprocess==0.7.0
PyChef==0.3.0
pycparser==2.21
Pygments==2.18.0
pymemcache==4.0.0
PyNaCl==1.5.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==0.8.11
python-dotenv==1.0.0
pythonping==1.1.4
pytz==2024.1
pyuac==0.0.3
pywinauto==0.6.6
pyxll==5.5.4
pyxxl==0.2.2
PyYAML==6.0.1
requests==2.32.2
Rx==1.6.3
shortuuid==1.0.9
singledispatch==3.7.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.52
sqlparse==0.5.0
starlette==0.37.2
style==1.1.0
tabula==1.0.5
tabula-py==2.4.0
tee==0.0.3
typing_extensions==4.11.0
tzdata==2024.1
update==0.0.1
uritemplate==4.1.1
urllib3==2.2.1
wcwidth==0.2.5
Werkzeug==3.0.2
whitenoise==6.5.0
xlwt==1.3.0
yarl==1.8.2
