{% extends "base.html" %} {% block content %}
<section class="container mx-auto p-6 font-mono">
  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
          >
            <th class="px-4 py-3">Switch Name</th>
            <th class="px-4 py-3">Device Type</th>
            <th class="px-4 py-3">Backup Date</th>
            <th class="px-4 py-3">Backup Status</th>
            <th class="px-4 py-3">Created At</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          {% for backup in backups %}
          <tr class="text-gray-700">
            <td class="px-4 py-3 border">{{ backup.switch_name }}</td>
            <td class="px-4 py-3 border">{{ backup.device_type }}</td>
            <td class="px-4 py-3 border">{{ backup.backup_date }}</td>
            <td class="px-4 py-3 border">
              <span
                class="px-2 py-1 font-semibold leading-tight {% if backup.backup_status == 'Success' %}text-green-700 bg-green-100{% elif backup.backup_status == 'Pending' %}text-orange-700 bg-gray-100{% else %}text-red-700 bg-red-100{% endif %} rounded-sm"
              >
                {{ backup.backup_status }}
              </span>
            </td>
            <td class="px-4 py-3 border">{{ backup.created_at }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="px-4 py-3 border text-center">
              No backup data available.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
