<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% load custom_filters %}
{% load static %}
{% block content %}
{% if task %}
{% if not task.completed %}
<main class="bg-white rounded-3xl p-8 mb-5"
      data-task-field="container"
      data-task-id="{{ task.id }}"
>
      <h2>Due Soon</h2>
  <h1
    class="text-3xl font-bold mb-10"
    data-task-id="{{ task.id }}"
    data-task-field="title"
  >
    {{ task.title }}
  </h1>

  <div class="flex items-center justify-between">
    <div class="flex items-stretch">
      <div
        class="text-gray-400 text-xs"
        data-task-id="{{ task.id }}"
        data-task-field="due-date"
      >
        Due Date<br />{{ task.due_date }}
      </div>
      <div class="h-100 border-l mx-4"></div>
      <div class="flex flex-wrap-space-x-3">
        <div class="h-9 text-black">
          Description: {{ task.description|truncatechars:40 }}
        </div>
      </div>
    </div>
    <div class="flex items-center gap-x-2">
      <!-- Complete Task Checkbox -->
      <form method="post">
        {% csrf_token %} <!-- Complete Task Checkbox -->
        {% if task.completed %}
        <input
           type="checkbox"
           checked="{{ task.completed }}"
           onclick="completeTask({{ task.id }})"
           class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
           id="task-complete-{{ task.id }}"
           data-task-id="{{ task.id }}"
           data-complete="{{ task.completed|yesno:'True,False' }}"
         />
         {% else %}
       <form method="post">
         {% csrf_token %}
         <input
           type="checkbox"
           onclick="completeTask({{ task.id }})"
           class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
           id="task-complete-{{ task.id }}"
           data-task-id="{{ task.id }}"
           data-complete="{{ task.completed|yesno:'True,False' }}"
         />
         <label for="task-complete-{{ task.id }}" class="text-sm text-gray-500"
           >Task Complete</label
         >
       </form>
       {% endif %}
        
              <!-- Edit Task Button -->
              <button
                type="button"
                id="editTaskButton"
                data-task-id="{{ task.id }}"
                onclick="openModal({{ task.id }})"
                class="inline-flex items-center justify-center h-9 px-5 rounded-xl bg-gray-900 text-gray-300 hover:text-white text-sm font-semibold transition"
              >
                Edit Task
              </button>

                    <!-- Delete Task Button (Trashcan) -->
              <button
              type="button"
              id="deleteTaskButton"
              class="deleteTaskButton inline-flex items-center justify-center h-9 px-4 md:px-6 rounded-xl bg-red-600 text-white text-sm font-semibold transition-all duration-200"
              data-task-id="{{ task.id }}"
            >
              <!-- Trashcan Icon -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.137 21H7.863a2 2 0 01-1.996-1.858L5 7m5 4v6m4-6v6M1 3h22M4 7h16"
                />
              </svg>
            </button>
            </div>
          </div>
        </div>
        {% endif %}
        {% else %}
        <h2 class="text-xl font-bold mb-4">No Tasks Today!</h2>
        {% endif %}

<!-- Add "Create New Task" Button -->
<div class="mt-6 text-center md:text-left">
  <button
    type="button"
    id="createTaskButton"
    class="inline-flex items-center justify-center h-9 px-5 rounded-xl bg-green-600 text-white hover:bg-green-700 text-sm font-semibold transition"
  >
    Create New Task
  </button>
</div>
      <!-- Modal Structure -->
      <div
        id="editModal"
        class="fixed inset-0 hidden bg-black bg-opacity-50 flex items-center justify-center"
      >
        <div class="bg-white rounded-lg p-8 max-w-lg w-full">
          <h2 class="text-xl font-bold mb-4">Edit Task</h2>
          <form id="editForm" method="post" action="{% url 'edit_task' 0 %}">
            <!-- Initial form action with placeholder 0 -->
            {% csrf_token %}
            <input type="hidden" id="taskId" name="task_id" />
            <div class="mb-4">
              <label for="taskTitle" class="block text-sm font-medium text-gray-700"
                >Title</label
              >
              <input
                type="text"
                placeholder={{ task.title }}
                name="title"
                id="taskTitle"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              />
            </div>
            <div class="mb-4">
              <label for="taskTitle" class="block text-sm font-medium text-gray-700"
                >Description</label
              >
              <input
                type="text"
                placeholder={{ task.description }}
                name="description"
                id="taskDescription"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              />
            </div>
            <div class="mb-4">
              <label for="taskDueDate" class="block text-sm font-medium text-gray-700"
                >Due Date</label
              >
              <input
                type="date"
                placeholder={{ task.due_date }}
                name="due_date"
                id="taskDueDate"
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              />
            </div>
            <div class="flex justify-end">
              <button
                type="button"
                id="closeEditModal"
                onclick="closeModal()"
                class="inline-flex justify-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="ml-3 inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Create Task Modal -->
<div
id="createTaskModal"
class="fixed inset-0 hidden bg-black bg-opacity-50 flex items-center justify-center"
>
<div class="bg-white rounded-lg p-8 max-w-lg w-full">
  <h2 class="text-xl font-bold mb-4">Create New Task</h2>
  <form id="createTaskForm" data-user-id="{{user.id}}">
    {% csrf_token %}
    <div class="mb-4">
      <label for="newTaskTitle" class="block text-sm font-medium text-gray-700">Title</label>
      <input
        type="text"
        name="title"
        id="newTaskTitle"
        class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="mb-4">
      <label for="newTaskDescription" class="block text-sm font-medium text-gray-700">Description</label>
      <input
        type="text"
        name="description"
        id="newTaskDescription"
        class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="mb-4">
      <label for="newTaskDueDate" class="block text-sm font-medium text-gray-700">Due Date</label>
      <input
        type="date"
        name="due_date"
        id="newTaskDueDate"
        class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="flex justify-end">
      <button
        type="button"
        id="closeCreateModal"
        class="inline-flex justify-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="ml-3 inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Create Task
      </button>
    </div>
  </form>
</div>
</div>

          <hr class="my-10" />

          <div class="grid grid-cols-2 gap-x-20">
            <div>
              <h2 class="text-2xl font-bold mb-4">Stats</h2>

              <div class="grid grid-cols-2 gap-4">
                <div class="col-span-2">
                  <div class="p-4 bg-green-100 rounded-xl">
                    <div class="font-bold text-xl text-gray-800 leading-none">
                      Good day, <br />{{ user.email|first_name_from_email }}
                    </div>
                    <div class="mt-5">
                      <button
                        type="button"
                        class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-green-500 text-sm font-semibold transition"
                      >
                        Start tracking
                      </button>
                    </div>
                  </div>
                </div>
                <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
                  <div class="font-bold text-2xl leading-none">{{ user|get_completed_tasks }} </div>
                  <div class="mt-2">Completed Tasks</div>
                </div>
                <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
                  <div class="font-bold text-2xl leading-none">{{ user|get_uncompleted_tasks }}</div>
                  <div class="mt-2">Incomplete Tasks</div>
                </div>
                <div class="col-span-2">
                  <div class="p-4 bg-purple-100 rounded-xl text-gray-800">
                    <div class="font-bold text-xl leading-none">
                      Your daily Task goal
                    </div>
                    <div class="mt-2">5 of 8 completed</div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <h2 class="text-2xl font-bold mb-4">Your tasks today</h2>

              <div class="space-y-4">
                <div
                  class="p-4 bg-white border rounded-xl text-gray-800 space-y-2"
                >
                  <div class="flex justify-between">
                    <div class="text-gray-400 text-xs">Number 10</div>
                    <div class="text-gray-400 text-xs">4h</div>
                  </div>
                  <a
                    href="javascript:void(0)"
                    class="font-bold hover:text-yellow-800 hover:underline"
                    >Blog and social posts</a
                  >
                  <div class="text-sm text-gray-600">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      class="text-gray-800 inline align-middle mr-1"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                      /></svg
                    >Deadline is today
                  </div>
                </div>
                <div
                  class="p-4 bg-white border rounded-xl text-gray-800 space-y-2"
                >
                  <div class="flex justify-between">
                    <div class="text-gray-400 text-xs">Grace Aroma</div>
                    <div class="text-gray-400 text-xs">7d</div>
                  </div>
                  <a
                    href="javascript:void(0)"
                    class="font-bold hover:text-yellow-800 hover:underline"
                    >New campaign review</a
                  >
                  <div class="text-sm text-gray-600">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      class="text-gray-800 inline align-middle mr-1"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                      /></svg
                    >New feedback
                  </div>
                </div>
                <div
                  class="p-4 bg-white border rounded-xl text-gray-800 space-y-2"
                >
                  <div class="flex justify-between">
                    <div class="text-gray-400 text-xs">Petz App</div>
                    <div class="text-gray-400 text-xs">2h</div>
                  </div>
                  <a
                    href="javascript:void(0)"
                    class="font-bold hover:text-yellow-800 hover:underline"
                    >Cross-platform and browser QA</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="{% static 'js/home.js' %}"></script>
</body>
{% endblock %}